langgraph
langchain
langsmith
python-dotenv
langchain-groq
langchain-tavily
langchain-ollama
langgraph-cli[inmem]
langchain-community
streamlit
openai
langchain-openai
langchain-core
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers==3.0.1
langchain-text-splitters
langchain-chroma
fastapi
langserve